<div th:fragment="listDirectoryContents" class="current-directory" data-th-directory-id="${directory.id}">
    <ul class="list-group list-group-flush" id="dirContents">
        <th:block th:each="file : ${directory.files}">
            <th:block th:replace="~{::dirListFileEntry}">

            </th:block>
        </th:block>
        
        <!-- <div class="d-flex align-items-center justify-content-right">
            <button type="button" name="open" class="btn btn-primary" data-th-filesystem-uuid="${filesystem.uuid}" onclick="openFilesystemPage(this.getAttribute('filesystem-uuid'))">Open</button>
            <button type="button" name="delete" class="btn btn-outline-danger" 
                data-th-filesystem-uuid="${filesystem.uuid}" data-th-filesystem-name="${filesystem.name}" 
                onclick="raiseDeleteFilesystemPopup(this.getAttribute('filesystem-uuid'), this.getAttribute('filesystem-name'))">
                Delete
            </button>
        </div> -->
    </ul>
</div>

<div th:fragment="fileCreatePopupFragment" id="popupForm">
    <h3 id="popupHeader">Create a new file/directory</h3>
    <p id="popupText">Enter the required details</p>

    <!-- Change value to dynamic user value -->
    <!-- <input id="parentDirId" name="parent_dir" data-th-value="${parent.id}" hidden="true"> -->
    <div id="filetype">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="filetypeOptions" id="filetypeFile" value="file" onchange="filetypeOptionChanged(this.getAttribute('value'))" checked>
            <label class="form-check-label" for="filetypeFile">File</label>
        </div>    
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="filetypeOptions" id="filetypeDirectory" value="directory" onchange="filetypeOptionChanged(this.getAttribute('value'))">
            <label class="form-check-label" for="filetypeDirectory">Directory</label>
        </div>    
    </div>
    <textarea id="fileName" name="fileName" class="form-control" placeholder="Enter a name for the new file/directory"></textarea>
    <textarea id="fileContent" name="fileContent" class="form-control" placeholder="Enter the contents of the file"></textarea>
    <button type="submit" id="createFileBtn" name="create" class="btn btn-primary" onclick="createFile()">Create</button>
    <button type="button" id="cancelPopup" class="btn btn-danger" onclick="cancelPopupAction()">Cancel</button>
</div>

<!-- TODO: Raise popup only on starred files/directories -->
<!-- <div th:fragment="fileDeletePopupFragment" id="popupForm">
    <h3 id="popupHeader">Delete the item</h3>
    <p id="popupText">You are about to delete this item. This action is not reversible. Proceed?</p>

    <button type="submit" id="deleteFileBtn" name="delete" class="btn btn-outline-primary" data-th-file-id="${file.id}" onclick="deleteFile(this.getAttribute('file-id'))">Delete</button>
    <button type="button" id="cancelPopupBtn" class="btn btn-danger" onclick="cancelPopupAction()">Cancel</button>
</div> -->


<li th:id="${file.id}" data-th-file-type="${file.type}" class="list-group-item d-flex align-items-center justify-content-between" th:fragment="dirListFileEntry">
    <div class="d-flex align-items-center">
        <th:block th:switch="${file.type.name()}">
            <img th:case="FILE" th:src="@{/icons/file.svg}" class="icon">
            <img th:case="DIRECTORY" th:src="@{/icons/directory.svg}" class="icon">
            <img th:case="HOME_DIRECTORY" th:src="@{/icons/home-directory.svg}" class="icon">
            <img th:case="*" th:src="@{/icons/unknown.svg}">
        </th:block>        
        <div th:text="${file.name}"></div>
    </div>
    <div class="d-flex align-items-center justify-content-right">
        <!-- TODO: Add update button, differentiate between file/dir -->
        <button type="button" name="delete" class="btn btn-outline-danger" th:text="Delete"
            data-th-file-id="${file.id}"
            onclick="deleteFile(this.getAttribute('file-id'))">
            Delete
        </button>
    </div>
</li>
