<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <th:block th:replace="~{fragments/base :: head (title='Dashboard')}"></th:block>
    <th:block th:fragment="~{fragments/base :: additionalCss}">
        <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    </th:block>
    <th:block th:fragment="~{fragments/base :: additionalJs}">
        <script th:src="@{/js/dashboard.js}"></script>
    </th:block>


    <!-- https://bootify.io/spring-security/form-login-with-spring-boot-thymeleaf.html -->
    <body>
        <th:block th:replace="~{fragments/header :: header}" class="blurrable"></th:block>
        <main th:fragment="~{fragments/base :: mainContent}" class="blurrable content d-flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-between align-items-center bg-light p-3" th:fragment="title-bar">
                <div class="title">My filesystems</div>
                <button class="btn btn-primary" id="createFilesystemButton" onclick="raiseCreateFilesystemPopup()">Create filesystem</button>
            </div>

            <th:block th:replace="~{fragments/filesystem-fragments :: listFilesystems}"></th:block>
            
            <!-- <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col" th:if="${#lists.isEmpty(myImages)}">
                <div class="card">
                    <div class="card-body">
                    <p class="card-text">No images available.</p>
                    </div>
                </div>
                </div>
                <div class="col" th:unless="${#lists.isEmpty(myImages)}" th:each="image : ${myImages}">
                <div class="card">
                    <img th:src="${image.url}" class="card-img-top" alt="Image">
                    <div class="card-body">
                    <h5 class="card-title" th:text="${image.title}">Image Title</h5>
                    <p class="card-text" th:text="${image.downloads} + ' downloads'">100 downloads</p>
                    </div>
                </div>
                </div>
            </div> -->

            
        </main>
        <div id="filesystemPopup" class="popup"></div>
    </body>
</html>