<!DOCTYPE html>
<!-- <html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/base :: layout(~{::content})}"></html> -->
<html xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <th:block th:replace="~{fragments/base :: head (title='This is the index page')}"></th:block>
        <th:block th:fragment="~{fragments/base :: additionalCss}">
            <link rel="stylesheet" th:href="@{/css/index.css}">
        </th:block>
    </head>

    <body>
        <div th:replace="~{fragments/header :: header}"></div>
        <main th:fragment="~{fragments/base :: mainContent}">
            <p>Lorem ipsum</p>
        </main>
    </body>
</html>

