<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>

    <head>
        <th:block th:replace="~{fragments/base :: head (title='Sign up')}"></th:block>
        <th:block th:fragment="~{fragments/base :: additionalCss}">
            <link rel="stylesheet" th:href="@{/css/auth_pages.css}">
        </th:block>
    </head>

    <!-- https://bootify.io/spring-security/form-login-with-spring-boot-thymeleaf.html -->
    <body>
        <div th:replace="~{fragments/header :: header}"></div>
        <main th:fragment="~{fragments/base :: mainContent}" class="content">
            <form method="POST" th:action="@{/auth/register}" th:object="${user}">
                <h3 align="center">Sign up</h3>
                <div class="form-group">
                    <label for="username" class="form-label">Username</label>
                    <input th:field="*{username}" placeholder="Enter username" type="text" class="form-control">
                </div>
        
                <div class="form-group">
                    <label for="password" class="form-label">Enter password</label>
                    <input th:field="*{password}" placeholder="Enter a password" type="password" class="form-control">
                </div>
                <br>
                <button id="registerButton" type="submit" class="btn btn-primary col-12">Sign up</button>
            </form>
        </main>
    </body>
</html>